.card-header {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border-bottom: none;
}

.card-body {
  padding: 1.25rem;
  width: 18rem;
}

.btn-buy {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-buy:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.card {
  margin-bottom: 20px;
  border: 1px solid #dee2e6;
  width: 17rem;
  height: 30rem;
}

.card-img-top {
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 16rem;
}

table {
  text-align: center;
}